/* Name:Hao Wang   ID:5086487 */
.thumbnail
{
	width:50px;
	height:50px;
}
.picture
{
	width: 500px;
	height: 300px;
	position:absolute;
  	left:200px;
  	top:150px;
	border: 1px solid grey;
}
.picarea{
	width:500px;
	height: 300px;
}
.detail
{
	font-size: 20px;
	font: bold;
	position:absolute;
  	left:750px;
  	top:180px;
}