.inner
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 160px;
	height: 250px;
	border: 1px solid;
	display: inline-block;
	float:left;
}
.setborder
{
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	border: 1px solid;
}
#main
{
	margin-right: auto;
	margin-left: auto;
	width: 650px;
}
#fullsize
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: grey;
	text-align: center;
}
#im{
	height: 140px;
	width: 140px;
}